<nav>
  <div class="site-title">
    <a href="/"><h1>OSUM</h1></a>
    <p>lets add some blogs, shall we!!</p>
  </div>
  <ul>
    <li><a href="/">blogs</a></li>
    <li><a href="/about">about</a></li>
    <li><a href="/blogs/create">new blogs</a></li>
  </ul>
</nav>
