<!DOCTYPE html>
<html lang="en">
<%- include('./partials/head.ejs') %>
<body>
    <%- include('./partials/nav.ejs') %>



    <div class="about-content">
        <h2>about us</h2>
        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Ex esse officiis nemo nisi sed placeat, at, consequatur a, molestiae quaerat aspernatur. Voluptatum quos voluptatem autem facere distinctio obcaecati adipisci ea.</p>
        
        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Ex esse officiis nemo nisi sed placeat, at, consequatur a, molestiae quaerat aspernatur. Voluptatum quos voluptatem autem facere distinctio obcaecati adipisci ea.</p>
        
        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Ex esse officiis nemo nisi sed placeat, at, consequatur a, molestiae quaerat aspernatur. Voluptatum quos voluptatem autem facere distinctio obcaecati adipisci ea.</p>
    </div>
    <%- include('./partials/footer.ejs') %>
</body>
</html>